.resizable-panel-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.resizable-panel {
  overflow: auto;
}

.resizable-handle {
  background-color: #374151;
  z-index: 10;
}

.resizable-handle[data-orientation="horizontal"] {
  height: 4px;
  cursor: ns-resize;
}

.resizable-handle[data-orientation="vertical"] {
  width: 4px;
  cursor: ew-resize;
}